.row#home
  .col-md-12
    %ul.nav.nav-tabs.nav-justified.nav-pills
      %li.active
        %a{href: "#arrivals", "data-toggle": "tab"}= t('arrivals')
      %li
        %a{href: "#departure", "data-toggle": "tab"}= t('departure')
      / / .dropdown
  %br/
  .col-md-12
    .tab-content
      #arrivals.tab-pane.fade.active.in
        %table.table.table-striped
          %thead.text-center
            %tr
              %th.text-center= t('helpers.flight_code_name')
              %th.text-center= t('helpers.terminal')
              %th.text-center= t('helpers.baggage_carousel')
              %th.text-center= t('helpers.departure')
              %th.text-center= t('helpers.time_status')
          %tbody
            - @flight_arrivals.each do |flight|
              %tr.text-center
                %td= flight_code_name(flight)
                %td= flight.terminal
                %td= flight.baggage_carousel
                %td= flight.destination.zh
                %td= time_status(flight.expected_datetime, flight.flight_status)
      / / .tab-pane
      #departure.tab-pane.fade
        %table.table.table-striped
          %thead
            %tr
              %th.text-center= t('helpers.flight_code_name')
              %th.text-center= t('helpers.terminal')
              %th.text-center= t('helpers.check_in_counter')
              %th.text-center= t('helpers.destination')
              %th.text-center= t('helpers.time_status')
          %tbody
            - @flight_departure.each do |flight|
              %tr.text-center
                %td= flight_code_name(flight)
                %td= flight.terminal
                %td= flight.check_in_counter
                %td= flight.destination.zh
                %td= time_status(flight.expected_datetime, flight.flight_status)
